service cloud.firestore {
  match /databases/{database}/documents {        
	 match /bookings/{booking} {
      allow read, create: if true;
      allow delete: if request.auth.uid == resource.data.code;
    }
    match /details/{detail} {
       allow read, delete: if request.auth.uid == resource.data.code;
       allow create: if  true;
    }        
  }
}